<header class="page-header">
  <h1>About Us</h1>
</header>

<p style="font-size: 26px;">
Jungle is a mini e-commerce application where you can find quirky apparel,
electronics, and furniture that you otherwise wouldn't see anywhere else.
If it sounds cool that's because it is. You'll be able to purchase anything from
the world's largest smartwatch, human feet shoes, or just a hipster hat if you want
to pretend to be one. 
</p>

<a href="/">
  <button class="btn btn-primary" style="font-size: 20px;"> Back </button> 
</a>

